html {
  background-color: #acacac;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;

}

document {
  background-color: #383838;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #383838;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#app {
  width: 350px;
  height: 100vh;

  /* center */
  margin: 0 auto;

  display: flex;
  /* wrap */
  justify-content: center;
  /* align-items: center; */
  align-content:center;
  flex-wrap: wrap;


}

input[type="text"] {
  background-color: #383838;
  color: #acacac;
  border: 1px solid #acacac;
  padding: 5px;
  margin: 0px;

  width: 50px;
  height: 50px;
}
